{% extends 'layout.html' %}

{% block body %}
    {% if current_user %}
        {% include 'partials/checkin-list.html' %}
    {% else %}
        <div class="welcome">
            <h1>Kzindr</h1>
            <p>Check-in application</p>
            <p>
                Ever wondered if your favorite friend, lecturer or enemy is at the 99bugs hackerslab? Well now with Kzindr you can see that!
                This is a site where members of the 99bugs hackerslab can sign up and let other people know that they are there.
            </p>
            <a href="/sign-up" class="button">Sign Up</a>
        </div>
    {% endif %}
{% endblock %}
