@import 'foundation';
$topbar-background: black;
$topbar-submenu-background: black;
@include foundation-everything;

.welcome{
    @include callout($secondary-color);
    margin-top: 30px;
    text-align: center;
}

.sign-up-form{
    .row.submit{
        text-align: center;
    }
}

.log-in-form{
    .row.submit{
        text-align: center;
    }
}

.pr_sub_ttl{
    margin-top: 0px;
    margin-bottom: 0px;

}
.sc_sub_ttl{
    margin-top: 20px;
    margin-bottom: 10px;

}

#currentUser a{
    display: inline;
}

.top-bar{
    .menu-img{
        margin: 0px,0px,0px,0px;
    }
}
