@import 'foundation';
$topbar-background: black;
$topbar-submenu-background: black;
$progress-height: 0.3rem;
$progress-margin-bottom: 0.3rem;
$global-margin: 0px;
@include foundation-progress-element;
@include foundation-everything;

.welcome{
    @include callout($secondary-color);
    margin-top: 30px;
    text-align: center;
}

.sign-up-form{
    .row.submit{
        text-align: center;
    }
}

.log-in-form{
    .row.submit{
        text-align: center;
    }
}

.pr_sub_ttl{
    margin-top: 0px;
    margin-bottom: 0px;

}
.sc_sub_ttl{
    margin-top: 20px;
    margin-bottom: 10px;

}

#currentUser a{
    display: inline;
}

.date_div{
    font-size: 75%;
}

.top-bar{
    .menu-img{
        margin: 0px,0px,0px,0px;
    }
}

.time_span{
    font-weight: bold;
    font-size: 90%;
}
.username_span{
    font-size: 120%;
    font-weight: bold;
}
.checkinitem{
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: #e3e6e8;
    border-bottom-width: 1px;
    padding-bottom: 10px;
}
.image img{
    display: block;
    margin: 0 auto;;

}
.columns h2{
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: #e3e6e8;
    border-bottom-width: 1px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.text_right{
    text-align: right;
}
